<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1>ujjwal</h1>
 <h1>message</h1>

 <form action="/userr/home" method="POST">
    <label for="message">enter the message</label>
    <input type="text" required name="message" id="message">
    <button type="submit"> generate</button>
 </form>
      



 


</body>
</html>