<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hy this is ujjwal</h1>
    <form action="/userr/signup" method="post">
        <label for="">name</label>
        <input type="text" required name="name" >
        <label for="">email</label>
        <input type="text" required name="email" >
        <label for="">age</label>
        <input type="number" required name="age" >
        <label for="">role</label>
        <input type="text" required name="role" >
        <label for="">password</label>
        <input type="text" required name="password" >
        <button type="submit">submit</button>
    </form>
</body>
</html>